{% extends '../layout/layout.html' %}

{% block layout_title %}
{{ _('Edit') }}
{% end %}

{% block layout_content %}

<form method="post" action="" class="form">
{% set selected_ids_set = frozenset(selected_ids) %}


<div class="padVertical">
	{{ _('Number of items selected: ') }}{{ locale.friendly_number(num_selected) }}
	<input type="submit" name="command_clear_selections" value="{{ _('Clear Selections') }}"/>
</div>


{% include 'list_nav.html' %}


<table>
<tr>
	<th>Sel.</th>
	<th>Thumb.</th>
	<th>Date</th>
	<th>Title</th>
	<th>Labels</th>
</tr>


{% for item in items %}
<tr>
	<td>
		<input type="hidden" name="current_ids" value="{{ str(item['_id']) }}"/>
		<input class="listCheckbox" type="checkbox" name="selection" 
		value="{{ str(item['_id']) }}"
		
		{% if str(item['_id']) in selected_ids_set %}
		checked="checked"
		{% end %}
		/>
	</td>
	<td>
		{% module Template('layout/widgets/thumbnail.html', 
			image_src_url='/thumbnail/%s/50?v=%s' % (item['_id'], item['file_id']), 
			image_target_url='/item/%s' % item['_id'], 
			image_title=item.get('title', '')) %}
	</td>
	<td>
		{{ locale.format_date(item['date']) }}
	</td>
	<td>
		{{ item['title'] }}
	</td>
	<td>
		{% for tag in item.get('tags', []) %}
		<a class="itemTag" href="/tag/{{ tag }}">{{ tag }}</a>
		{% end %}
	</td>
</tr>
{% end %}

</table>

{% include 'list_nav.html' %}



</form>


<script type="text/javascript">
<!--
$('.listCheckbox').enableCheckboxRangeSelection();
//-->
</script>
{% end %}
