{% extends '../layout/layout.html' %}
{% import datetime.datetime %}

{% block layout_title %}
{{ _('Manage') }}
{% end %}

{% block layout_content %}

<p>{{ _('Number of items selected: ') }}{{ locale.friendly_number(num_selected) }}</p>

<div class="overview-thumbnails">
{% for id_str in first_few_ids + [None] + last_few_ids %}
	{% if id_str is None and last_few_ids %}
		…
	{% elif id_str %}
		{% module Template('layout/widgets/thumbnail.html', 
			image_src_url='/thumbnail/%s/50' % id_str, 
			image_target_url='/item/%s' % id_str, 
			image_title='') %}
	{% end %}
{% end %}
</div>

<p>Actions that can be applied to the selection:</p>

<form method="post" action="/manage/actions/edit_date">
	<label>
		Edit date:
		<input type="datetime" name="date" value="{{ datetime.datetime.utcnow() }}" 
			required placeholder="Enter a ISO-8601 formatted date"/>
	</label>
	<input type="submit" value="Apply"/>
</form>

<br/>

<form method="post" action="/manage/actions/edit_title">
	<label>
		Edit title:
		<input type="text" name="title" 
			required placeholder="Enter a title"/>
	</label>
	<input type="submit" value="Apply"/>
</form>

<br/>

<form method="post" action="/manage/actions/add_tag">
	<label>
		Add a label:
		<input type="text" name="tag" 
			required placeholder="Enter new label"/>
	</label>
	<input type="submit" value="Apply"/>
</form>

<br/>

<form method="post" action="/manage/actions/remove_tag">
	<label>
		Remove a label:
		<select name="tag">
			{% for tag in sorted(tags) %}
				<option value="{{ tag }}">{{ tag }}</option>
			{% end %}
		</select>
	</label>
	<input type="submit" value="Apply"/>
</form>


<br/>


<form method="post" action="/manage/actions/set_orientation">
	<label>
		{{ _('Set orientation: ') }}
		<select name="orientation">
			<option value="1">
				Normal
			</option>
			<option value="8">
				Left (Rotate counterclockwise 90°)
			</option>
			<option value="3">
				Inverted (Rotate 180°)
			</option>
			<option value="6">
				Right (Rotate clockwise 90°)
			</option>
		</select>
	</label>
	<input type="submit" value="Apply"/>
</form>




{% end %}
