{% extends '../layout/layout.html' %}

{% block layout_title %}
{{ _('Overview') }}
{% end %}

{% block layout_content %}

{% if tag %}
<h1 class="overview-tagHeader">{{ tag }}</h1>
{% end %}

{% if not items %}
<p>(No items)</p>
{% end %}

<div class="overview-thumbnails">
{% set _prev_year = None %}

{% for item in items %}
	{% if item['date'].year != _prev_year %}
		{% set _prev_year = item['date'].year %}
		<h2 class="overview-yearDeliminator">{{ item['date'].year }}</h2>
	{% end %}

	{% module Template('layout/widgets/thumbnail.html', 
		image_src_url='/thumbnail/%s/200' % item['_id'], 
		image_target_url='/item/%s' % item['_id'], image_title=item.get('title', '')) %}

{% end %}

</div>


<p>
{% if paging['has_more_newer'] %}
	<a href="?newer_than={{ items[0]['_id'] }}">{{ _('Newer') }}</a>
{% end %}

{% if paging['has_more_older'] %}
	<a href="?older_than={{ items[-1]['_id'] }}">{{ _('Older') }}</a>
{% end %}
</p>

{% end %}
