{% import datetime %}

{% extends '../layout/layout.html' %}

{% block layout_title %}
{{ _('Overview') }}
{% end %}

{% block layout_content %}

{% if tag %}
<h1 class="overview-tagHeader">{{ tag }}</h1>
{% end %}

{% if not items %}
<p>(No items)</p>
{% end %}

{% include 'overview_nav.html' %}

<div class="overview-thumbnails">
{% set _prev_year = None %}

{% for item in items %}
	{% if item['date'].year != _prev_year %}
		{% set _prev_year = item['date'].year %}
		<h2 class="overview-yearDeliminator">{{ item['date'].year }}</h2>
	{% end %}

	{% module Template('layout/widgets/thumbnail.html', 
		image_src_url='/thumbnail/%s/200?v=%s' % (item['_id'], item['file_id']), 
		image_target_url='/item/%s' % item['_id'], image_title=item.get('title', '')) %}

{% end %}

</div>

{% include 'overview_nav.html' %}

{% end %}
