{% extends '../layout/layout.html' %}

{% block layout_title %}
{{ _('Overview') }}
{% end %}

{% block layout_content %}

<div class="overview-thumbnails">
{% set _prev_year = None %}

{% for item in items[:paging['limit']] %}
	{% if item['date'].year != _prev_year %}
		{% set _prev_year = item['date'].year %}
		<h2 class="overview-yearDeliminator">{{ item['date'].year }}</h2>
	{% end %}

	{% module Template('layout/widgets/thumbnail.html', 
		image_src_url='/thumbnail/%s/200' % item['_id'], 
		image_target_url='/item/%s' % item['_id'], image_title=item.get('title', '')) %}

{% end %}

</div>


<p>
{% if paging['has_newer'] %}
	<a href="?newer_date={{ items[0]['date'] }}">{{ _('Newer') }}</a>
{% end %}

{% if paging['has_older'] %}
	<a href="?older_date={{ items[-1]['date'] }}">{{ _('Older') }}</a>
{% end %}
</p>

{% end %}
