{% extends '../layout/layout.html' %}

{% block layout_title %}
{{ item['title'] }}
{% end %}

{% block layout_content %}

<h1>{{ item['title'] }}</h1>

<img src="/thumbnail/{{ str(item['_id']) }}/500"/>

<p class="singleItem-description">{{ item.get('description', '')}}</p>

<p class="singleItem-date">{{ locale.format_date(item['date']) }}</p>

<p class="singleItem-tags">
{% for tag in item.get('tags', []) %}

<a href="/tag/{{ tag }}">{{ tag }}</a>

{% end %}
</p>

<p class="singleItem-actions">
	<a href="/edit/{{ str(item['_id']) }}">{{ _('Edit') }}</a>
	<a href="/full/{{ str(item['_id']) }}">{{ _('Download') }}</a>
</p>

<nav class="singleItem-nav">

{% if 'newer' in globals() %}
	<a href="/item/{{ newer }}">
		<img src="/thumbnail/{{ newer }}/50"/> {{ _('Newer') }}
	</a>
{% end %}


{% if 'older' in globals() %}
	<a href="/item/{{ older }}">
		<img src="/thumbnail/{{ older }}/50"/> {{ _('Older') }}
	</a>
{% end %}

</nav>

{% end %}
